.header {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 60px;

    .header-left {
        // float: left;
        // height: 60px;
        // position: relative;
        // text-align: center;
        // width: 240px;
        // -webkit-transition: all 0.4s ease-in-out;
        // -ms-transition: all 0.4s ease-in-out;
        // transition: all 0.4s ease-in-out;
        // padding: 0px 3px 0px 20px;


        float: left;
    height: 60px;
    position: relative;
    text-align: center;
    width: 241px;
    transition: all 0.4s ease-in-out;
    padding: 0px 3px 0px 20px;
    padding-left: 0px;
    padding-right: 0px;

    >img {
        width: 240px;
    height: 60px;
    padding: 1px;
    margin-right: 33px;
    background: #136B6C;
    }
    }

    .header-left-inactive {
        float: left;
        height: 60px;
        position: relative;
        text-align: center;
        // width: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        padding: 0 5px;

        >img {
            width: 50px;
            height: 50px;
        }
    }

    .nav {

        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

    }

    .navmenu {
        align-items: center;
        color: #333333;
        display: inline-flex;
        font-size: 30px;
        height: 60px;
        justify-content: center;
        margin-left: 10px;
    }

    .user-menu {
        float: right;
        margin: 0;
        position: relative;
    }

    .user-menu.nav>li {
        color: #333;
        font-size: 14px;
        line-height: 75px;
        padding: 0 15px;
        height: 60px;
        align-items: center;
        display: grid;

    }

    .user-menu.nav>li:hover,
    .user-menu.nav>li:focus {
        background-color: rgba(0, 0, 0, 0.2);
    }


}


.header_img {
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}





////
.logout_popup {
    z-index: 101;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cookiesContent {
        width: 460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 20px;
        padding: 30px 30px 30px;

        button.close {
            width: 30px;
            font-size: 20px;
            color: #c0c5cb;
            align-self: flex-end;
            background-color: transparent;
            border: none;
            margin-bottom: 10px;
        }

        img {
            margin-bottom: 15px;
            border-radius: 5px;
            width: 138px;

        }

        p {
            margin-bottom: 40px;
            font-size: 18px;
        }

        button.accept {
            background-color: rgb(27, 90, 144);
            border: none;
            border-radius: 5px;
            width: 200px;
            padding: 14px;
            font-size: 16px;
            color: white;
            box-shadow: 0px 6px 18px -5px rgb(27, 90, 144), 1;
        }
    }
}

.user_details {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
&:hover{
    background-color: #19C1DC		;
}
    .image {
        width: 36px;
        height: 39px;
        border-radius: 50%;
    }
}



.nav_profile {
    width: 300px;
    // height: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 666;
    right: 10px;
    top: 63px;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    // background-color: #1B5A90;
    border-radius: 5px;
    animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

    .inner_profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .image1 {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        .user_details1 {
            display: flex;
            font-size: 20px;
            flex-direction: column;
            // text-align: left;
            // width: 100%;

            .heading{
                font-size: 18px;
                font-weight: 700;
                margin: 0;

                .data{
                    font-size: 17px;
                    margin-left: 8px;

                }
            }
        }
    }

    .sign_out {
        width: 100%;
        .sign_out_button {
            float: right;
            background-color: #1b5a90;
        }
    }
}