.maincontainer_productform{
    width: 100%;
    height: 100%;
        position: absolute;
        overflow: auto;
        padding: 1.875rem 1.875rem 0;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      background-color: transparent;
      display: flex;
      z-index: 200;
      background-color: rgba(0, 0, 0, 0.407);
        // &::-webkit-scrollbar {
        //     display: none;
        // }
    

}

.parent-productform{
    // width: calc(100% - 342px);
    // height: 305px;
    // background-color: white;
    border-radius: 4px;
    margin: auto;
        // width: 100%;


}
.isactive{
    margin-top: 7px;
    margin-bottom: 0;
}

.productupload{
    width: 100%;
    height: 33px;    
    color: #fff;
    background-color: #1b5a90 !important;
    border: none;
    border-radius: 5px;
    padding: 0px 0px !important;
    >p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 11px;
        font-weight: 400;
        margin-inline-start:0;
        margin-inline-end: 0;
        text-transform:none;
    }

}

.cancelbutton{
    width: 88px;
    height: 33px;    
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #fff;
    background-color: #f44336 !important;
    border: none;
    border-radius: 5px;
    float: right;
    padding: 0px 0px !important;
    float: left;
    >p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 11px;
        font-weight: 400;
        margin-inline-start:0;
        margin-inline-end: 0;
        text-transform:none;
    }
 
}

  .searchBox { // To change search box element look
	border: none;
	font-size: 12px;
    width: 315px;
	min-height: 50px;
  }
  .inputField { // To change input field position or margin
      margin: 5px;
  }
  .chips { // To change css chips(Selected options)
	background: red;
  }
  .optionContainer { // To change css for option container 
	border: 0px solid;
    
  }
  .option { // To change css for dropdown options
	color: blue;
  
  }
  .groupHeading 
  { 
    // To chanage group heading style
	
  }
  .navheader{
    border: none !important;
     background-color: transparent !important;
     padding: 5px !important;
     cursor:pointer !important;

}
.productform-header{
    max-width: 960px;
    padding-right: 0; 
    padding-left: 0; 
    margin-right: 0; 
     margin-left: 0;


}

.react-tooltip-arrow {
  display: none !important;
}



.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    opacity: 0.5 !important;
    color: white !important;
    cursor: grab !important;
}

.u_p{
  height: 2.5rem;
  width: 2.5rem;
  // border-radius: 50%;
  margin: 10px 10px 10px 20px;
 cursor: pointer;
}