.custom-loader {
  display: inline-block !important;
  color: #1976d2 !important;
  /* -webkit-animation: animation-61bdi0 1.4s linear infinite; */
  /* animation: animation-61bdi0 1.4s linear infinite; */
  width: 87px !important;
  height: 87px !important;
  margin: auto !important;
  color: #03bc7f !important;
  transform: rotate(-45deg) !important;
  animation: none !important;
}
