.dashboard-main{
    width: calc(100% - 75px);
    left: 75px;
    height: calc(100% - 60px);
    position: absolute;
    overflow: auto;
    margin-top: 60px;
    padding: 1.875rem 1.875rem 0;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &::-webkit-scrollbar{
        display: none;
    }
}



.dashboard-main-sa{
    width: calc(100% - 240px);
    left: 240px;
    height: calc(100% - 60px);
    position: absolute;
    overflow: auto;
    margin-top: 60px;
    padding: 1.875rem 1.875rem 0;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    // &::-webkit-scrollbar {
    //     display: none;
    // }

}


.progressslider{
    width: 300px;
    height: 200px;
    border: 2px solid;
}




.dash-widget-icon {
    align-items: center;
    display: inline-flex;
    font-size: 1.875rem;
    height: 50px;
    justify-content: center;
    line-height: 48px;
    text-align: center;
    width: 50px;
	border: 3px solid;
    border-radius: 50px;
    padding: 28px;
}
.dash-count {
    font-size: 18px;
    margin-left: auto;
}
.container{
    display: flex;
    padding: 10px 0px;

    .cardContent{
        margin-right:10px;
        padding: 10px;
        background-color: #3B8BE5;
        color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        >p{
            margin: 0;
            font-size: 15px;

            >span{
                font-weight: 800;
                font-size: 20px;

            }
        }
    }
}


label{
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}