.productorder {
  width: calc(100% - 75px);
  left: 75px;
  height: calc(100% - 60px);
  position: absolute;
  overflow: auto;
  margin-top: 60px;
  padding: 1.875rem 1.875rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  // &::-webkit-scrollbar {
  //     display: none;
  // }
}

.productorder-sa {
  width: calc(100% - 240px);
  left: 240px;
  height: calc(100% - 60px);
  position: absolute;
  overflow: auto;
  margin-top: 60px;
  padding: 1.875rem 1.875rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  // &::-webkit-scrollbar {
  //     display: none;
  // }
}

.patient_pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card_parent {
  z-index: 999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  .card22 {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 0 0 4vh 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3px solid rgb(252, 103, 49);
    border-bottom: 3px solid rgb(252, 103, 49);
    .cross {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-size: 30px;
      margin: 10px;
      cursor: pointer;

      .x {
        border: 1px solid;
        border-radius: 50%;
        font-size: 19px;
        /* width: 46px; */
        padding: 0px 5px;
        /* margin: -27px; */
        position: relative;
        bottom: 27px;
        left: 26px;
        color: #fff;
        background-color: rgb(252, 103, 49);
      }
    }
  }
  @media (max-width: 768px) {
    .card22 {
      width: 90%;
    }
  }
  .title {
    color: rgb(252, 103, 49);
    font-weight: 600;
    margin-bottom: 2vh;
    padding: 1% 2%;
    font-size: initial;
  }
  #details {
    font-weight: 400;
  }
  .info2 {
    padding: 1% 8%;
  }
  .info2 .col-5 {
    padding: 0;
  }
  #heading {
    color: grey;
    line-height: 6vh;
  }
  .pricing2 {
    background-color: #ddd3;
    padding: 2vh 8%;
    font-weight: 400;
    line-height: 2.5;
    margin: 20px 0px;
    height: 140px;
    overflow: auto;
  }
  .pricing2 .col-3 {
    padding: 0;
  }
  .total {
    padding: 2vh 8%;
    color: rgb(252, 103, 49);
    font-weight: bold;
  }
  .total .col-3 {
    padding: 0;
  }
  .footer {
    padding: 0 8%;
    font-size: x-small;
    color: black;
  }
  .footer img {
    height: 5vh;
    opacity: 0.2;
  }
  .footer a {
    color: rgb(252, 103, 49);
  }
  .footer .col-10,
  .col-2 {
    display: flex;
    padding: 3vh 0 0;
    align-items: center;
  }
  .footer .row {
    margin: 0;
  }
  #progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: rgb(252, 103, 49);
    padding-left: 0px;
    margin-top: 3vh;
  }
  .time {
    margin-top: 10px;
  }

  #progressbar li {
    list-style-type: none;
    font-size: x-small;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159);
  }

  #progressbar #step1:before {
    content: "";
    color: rgb(252, 103, 49);
    width: 8px;
    height: 8px;
    margin-left: 0px !important;
    /* padding-left: 11px !important */
  }

  #progressbar #step2:before {
    content: "";
    color: #fff;
    width: 8px;
    height: 8px;
    margin-left: 32%;
  }

  #progressbar #step3:before {
    content: "";
    color: #fff;
    width: 8px;
    height: 8px;
    margin-right: 32%;
    /* padding-right: 11px !important */
  }

  #progressbar #step4:before {
    content: "";
    color: #fff;
    width: 8px;
    height: 8px;
    margin-right: 0px !important;
    /* padding-right: 11px !important */
  }

  #progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
  }

  #progressbar li:after {
    content: "";
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 3px;
    z-index: 1;
  }
  .progress-track {
    padding: 0 3%;
  }
  #progressbar li:nth-child(2):after {
    margin-right: auto;
  }

  #progressbar li:nth-child(1):after {
    margin: auto;
  }

  #progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
  }
  #progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
  }

  #progressbar li.active {
    color: black;
  }

  #progressbar li.active:before,
  #progressbar li.active:after {
    background: rgb(252, 103, 49);
  }
}

.status {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.approvebutton {
  background-color: #03bc7f;
  color: #fff;
  padding: 4px 11px;
  border-radius: 5px;
  margin-right: 10px;
}

.rejectbutton {
  background-color: red;
  color: #fff;
  padding: 4px 11px;
  border-radius: 5px;
}

.copy-icon {
  cursor: pointer;
  svg {
    // color: #03BC7F;
    height: 18px;
    width: 18px;
  }
}



.action-btn {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;

  border: 1px solid #137c7e !important;
  background-color: #137c7e !important;
  color: #fff !important;

  // &:hover {
  //   border: 1px solid #137C7E !important;
  //   background-color: #137C7E !important;
  //   color: #fff !important;
  // }
}